@import url(fontawesome/css/fontawesome.css);
@import url(fontawesome/css/brands.css);
@import url(fontawesome/css/solid.css);
@import url(fontawesome/css/regular.css);

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, Microsoft JhengHei;
    font-size: 0;
    color: #333333;
    background-color: #FFFFFF;
}

a {
    color: #666666;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#left {
    width: 299px;
    height: 100%;
    border-right: 1px solid hsl(227, 13%, 79%);
    display: inline-block;
    vertical-align: top;
    background-color: hsl(220, 11%, 95%);
}

    #left > #top {
        height: 219px;
        border-bottom: 1px solid hsl(227, 10%, 90%);
    }

    #left > #bottom {
        height: calc(100% - 220px);
        overflow: auto;
    }

#right {
    width: calc(100% - 300px);
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: hsl(220, 11%, 95%);
    overflow: auto;
}
    #right > #frame {
        display: flex;
        align-content: center;
        justify-content: center;
    }

        #right > #frame > #content {
            padding: 0 30px 30px 30px;
            max-width: 800px;
        }
            #right > #frame > #content > .title {
                font-size: 36px;
                font-weight: 800;
            }

            #right > #frame > #content > .subtitle {
                font-size: 24px;
                font-weight: 600;
            }

            #right > #frame > #content > .description {
                font-size: 18px;
                font-weight: 600;
                line-height: 32px;
            }

            #right > #frame > #content > .text {
                font-size: 18px;
                line-height: 32px;
            }

            #right > #frame > #content > .text li {
                padding: 0 0 20px 0;
            }

            #right > #frame > #content > .image {
                width: 100%;
                border: 4px solid #CCCCCC;
                border-radius: 10px;
            }

                #right > #frame > #content > .image img {
                    width: 100%;
                    display: block;
                    border-radius: 8px;
                }

            #right > #frame > #content > .images {
                width: 100%;
            }

                #right > #frame > #content > .images > .col > div {
                    border: 4px solid #CCCCCC;
                    margin: 10px;
                    border-radius: 10px;
                }

                #right > #frame > #content > .images > .col img {
                    width: 100%;
                    display: block;
                    border-radius: 8px;
                }

                #right > #frame > #content > .images > .col33 {
                    width: 33%;
                    display: inline-block;
                }

                #right > #frame > #content > .images > .col50 {
                    width: 50%;
                    display: inline-block;
                }
                    
            

#about {
    text-align: center;
    padding: 25px 0 15px 0;
}

    #about > #avatars {
        display: flex;
        align-content: center;
        justify-content: center;
    }

        #about > #avatars > #avatar {
            width: 100px;
            border-radius: 50%;
            overflow: hidden;
            display: block;
        }

            #about > #avatars > #avatar > img {
                display: block;
                width: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;
            }

    #about > #name {
        font-size: 16px;
        font-weight: 600;
        padding: 10px 0 5px 0;
    }

    #about > #email {
        font-size: 16px;
    }

#nav {
    font-size: 16px;
    padding: 15px;
    line-height: 35px;
}
    #nav > .link {
        color: #333333 !important;
        cursor: pointer;
        display: block;
        text-decoration: none;
        font-weight: 600;
    }

        #nav > .link:hover {
            background-color: #0366d6;
            color: #FFFFFF !important;
            cursor: pointer;
            display: block;
            text-decoration: none;
            font-weight: 600;
        }

    #nav > .main {
        padding: 0 0 0 10px;
        color: #666666 !important;
    }

    #nav > .sub {
        padding: 0 0 0 35px;
        color: #666666 !important;
    }

#gototop {
    display: none;
}

@media screen and (max-width : 700px) {
    #left {
        width: 100%;
        height: auto;
        display: block;
        overflow: hidden;
        border: 0px;
    }

    #right {
        width: 100%;
        height: auto;
        display: block;
        overflow: hidden;
    }

    #left > #top {
        height: auto;
    }

    #left > #bottom {
        height: auto;
    }

    #nav {
        font-size: 18px;
        padding: 15px;
        line-height: 35px;
    }

    #right > #frame > #content > .images > .col > div {
        border: 4px solid #CCCCCC;
        margin: 0 0 25px 0;
        border-radius: 10px;
    }

    #right > #frame > #content > .images > .col33 {
        width: 50%;
        display: inline-block;
    }

    #right > #frame > #content > .images > .col50 {
        width: 100%;
        display: block;
    }

    #gototop {
        display: block;
    }
}

@media screen and (min-width : 701px) {
    
}