<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="language" content="tw" />
    <meta property="og:site_name" content="Likol Lee" />
    <meta property="og:type" content="article" />
    <link rel="stylesheet" href="ref.css" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F5Q6MWC1HT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-F5Q6MWC1HT');
    </script>
    <title>{TITLE} - Likol Lee</title>
    <meta property="og:title" content="{TITLE} - Likol Lee" />
    <meta name="description" content="{DESCRIPTION}" />
    <meta property="og:description" content="{DESCRIPTION}" />
    <meta property="og:url" content="https://twlikol.github.io{PAGEURL}" />
    {METAS}
</head>
<body>
    <a id="top"></a>
    <div id="left">
        <div id="top">
            <div id="about">
                <div id="avatars">
                    <div id="avatar">
                        <img src="~/imgs/avatar.jpg" alt="Likol Lee">
                    </div>
                </div>
                <div id="name">Likol Lee</div>
                <div id="email"><a href="mailto:twlikol@msn.com">twlikol@msn.com</a></div>
            </div>
        </div>
        <div id="bottom">
            <div id="latestupdate">最後更新時間: {LATESUPDATE}</div>
            <div id="nav">
                <a class="main link" href="~/index.html"><i class="fa-regular fa-user"></i> 關於我</a>
                <div class="main"><i class="fa-regular fa-bookmark"></i> 企業資訊系統開發</div>
                <a class="sub link" href="~/projects/modbus-collector-ui.html#article"><i class="fa-solid fa-caret-right"></i> 機台加工數據收集與儀表板</a>
                <a class="sub link" href="~/projects/process-register-station.html#article"><i class="fa-solid fa-caret-right"></i> 加工作業登錄工作站</a>
                <div class="main"><i class="fa-solid fa-layer-group"></i> CANCP 基礎架構開發</div>
                <a class="sub link" href="~/cancp/what-is-cancp.html#article"><i class="fa-solid fa-caret-right"></i> CANCP是什麼？</a>
                <a class="sub link" href="~/cancp/think-and-try.html#article"><i class="fa-solid fa-caret-right"></i> 構思與初步驗證</a>
                <a class="sub link" href="~/cancp/use-nuget-package-format.html#article"><i class="fa-solid fa-caret-right"></i> 使用NuGet套件作為佈署格式</a>
                <a class="sub link" href="~/cancp/architecture-implementation-and-use.html#article"><i class="fa-solid fa-caret-right"></i> 架構實作與使用</a>
            </div>
        </div>
    </div>
    <div id="right">
        <div id="frame">
            <div id="content">
                <a id="article"></a>
                <p class="title">{TITLE}</p>
                <p class="description">{DESCRIPTION}</p>
                {CONTENT}
                <div id="gototop">
                    <a href="#top">
                        <i class="fa-regular fa-circle-up fa-xl"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
