<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="language" content="tw" />
    <meta property="og:site_name" content="Likol Lee" />
    <meta property="og:type" content="article" />
    <link rel="stylesheet" href="ref.css" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F5Q6MWC1HT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-F5Q6MWC1HT');
    </script>
    {METAS}
</head>
<body>
    <div id="left">
        <div id="top">
            <div id="about">
                <div id="avatars">
                    <div id="avatar">
                        <img src="~/imgs/avatar.jpg" alt="Likol Lee">
                    </div>
                </div>
                <div id="name">Likol Lee</div>
                <div id="email"><a href="mailto:twlikol@msn.com">twlikol@msn.com</a></div>
            </div>
        </div>
        <div id="bottom">
            <div id="nav">
                <a class="main link" href="~/index.html"><i class="fa-regular fa-user"></i> 關於我</a>
                <div class="main"><i class="fa-regular fa-bookmark"></i> 企業資訊系統開發案例</div>
                <a class="sub link" href="~/projects/modbus-collector-ui.html"><i class="fa-solid fa-caret-right"></i> Modbus資料收集與查詢介面</a>
                <a class="sub link" href="task-management-system.html"><i class="fa-solid fa-caret-right"></i> 工作項目管理系統</a>
                <a class="sub link" href="user-operation-time-register.html"><i class="fa-solid fa-caret-right"></i> 人員作業工時登錄</a>
                <div class="main"><i class="fa-brands fa-dev"></i> 系統開發技術</div>
                <a class="sub link" href="index.html"><i class="fa-solid fa-caret-right"></i> 自訂 MSBuild</a>
                <a class="sub link" href="index.html"><i class="fa-solid fa-caret-right"></i> Visual Studio 擴充套件開發</a>
                <div class="main"><i class="fa-solid fa-layer-group"></i> CANCP 基礎架構開發</div>
                <a class="sub link" href="index.html"><i class="fa-solid fa-caret-right"></i> CANCP是什麼?</a>
            </div>
        </div>
    </div>
    <div id="right">
        <div id="frame">
            <div id="content">
                <p class="title">{TITLE}</p>
                {CONTENT}
            </div>
        </div>
    </div>
</body>
</html>
